body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}